
  

.container-fluid{
  position:relative; 
  background-color: #AAE3E2;
  width: 100%;
}
.card{
  background-color: white; 
  border-radius: 10px;
  margin-top:100px;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 100px;
}
.camera {
  
  background: #e9b634dc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
 /* margin-left: 0%; */
  vertical-align: middle;
  padding: 20px;
 

}

/* .one{
  background-color: aqua;
  text-align: center;
  padding: 20px;
  text-align: center;


} */

.image{
  /* background: rgb(185, 19, 19); */
  /* text-align: left; */
 padding-right: 285px;

}
#lady{
  width:17%;
  height:10%;
   float:left;
  margin-left: 35px;
  margin-top: -60px;

}


.two{
  padding-right: 285px;
  
}
.forgotbtn
{
  margin-left: 485px;
   margin-top:15px;
   margin-bottom: 30px;
}
.applybtn{
  margin-top:5px;
}
/* .pic{
  background-color: aqua;
} */
.modal-title{
text-align: center;
}
.newpassword
{
  margin: 20px;
}

@media(max-width:1199px)
{

  .forgotbtn{
    margin-left:285px;
  }

  .image{
    padding-right:185px;
  }
  .two{
    padding-right: 190px;
  }
}

@media (max-width:991px)
{
 
  
  button.forgotbtn{
    margin-left:365px;
  }

  div.image{
    padding-left:185px;
  }
  .two{
    padding-left: 190px;
  }
  
}

@media(max-width:767px)
{
  button.forgotbtn{
    margin-left:227px;
  }
}

@media(max-width:750px)
{
  button.forgotbtn{
    margin-left:360px;
  }
}

@media(max-width:713px)
{

  div.image{
    padding-left:0px;
    padding-right:0px;
    margin-right:135px;
  }

  div.two{
    padding-left:185px;
  }

}

@media(max-width:591px)
{
  div.image{
    margin-right:0px;
    padding-right:110px;

  }

  div.two{
    padding-left:125px;
    padding-right:400px;
  }
  button.applybtn{
    margin-left:85px;
  }

  button.forgotbtn{
    margin-left:280px;
  }
}

@media(max-width:648px)
{
  div.two{
    padding-left:25%;
  }
  div.image{
    padding-left:100px;
  }
}

@media(max-width:559px)
{
  div.image{
    padding-left: 0%;
    padding-right:0%;
    margin-right:100px;

  }
  div.two{
    padding-left:0%;
    padding-right: 0%;
    margin-right:100px;
  }
}

